.category-header{
    text-align: center;
    justify-content: center;
    background-image:url("../../../../assets/Rectangle 1.png");
    padding: 80px;
    margin-top: 20px;
} 
.sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 0;
}
a:active{
    color: green;
    font-weight: bolder;
}
a{
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    width: fit-content;
}

