<form class="row container" [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
  <div class="col-md-10 mt-4 ms-5">
    <div class="d-flex-col justify-content-between mt-4">
      <div class="form-group">
        <label for="firstName">Current Password</label>
        <input class="form-control" [class.is-invalid]="currPassword?.invalid && currPassword?.touched"
          formControlName="currPassword" type="text" name="firstName" />
        <small class="text-danger" *ngIf="currPassword?.invalid && currPassword?.touched">
          enter valid current password
        </small>
      </div>
      <div class="form-group mt-3">
        <label for="firstName">New Password</label>
        <input class="form-control" [class.is-invalid]="newPassword?.invalid && newPassword?.touched"
          formControlName="newPassword" type="password" name="firstName" />
        <div *ngIf="
            (newPassword?.invalid && newPassword?.touched) || newPassword?.dirty
          ">
          <small class="text-danger" *ngIf=" newPassword?.errors?.['required']">
            new password is required</small>
          <small class="text-danger" *ngIf=" newPassword?.errors?.['minlength']">password must be of 8 digits</small>
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" class="form-control" name="" id="" formControlName="confirmNewPassword">
        <small class="text-danger" *ngIf="confirmNewPassword?.errors?.['mismatch']">Passwords are not same</small>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group mt-4">
      <button class="form-control btn btn-success" type="submit">Save</button>
    </div>
  </div>
</form>