input{
    width: 413px;
    margin-left: 40px;
    /* margin-right: 10px; */
    border-radius: 0%;
}
label{
    margin-left: 40px;
}
.btn{
    position: relative;
    left:458px;
    width: fit-content;
    width: 100px;
    border-radius: 10px;
}
small{
    margin-left: 3rem;
}
