<footer class="container d-flex justify-content-between mt-5 mb-5">
    <div class="row">
        <div class=" d-flex">
            <div >
                <img src="../../assets/tag.png" alt="">
            </div>
            <div>
                <h5>Best Prices & Deals</h5>
                <span class="box-width text-secondary">Don't miss our daily amazing deals and prices</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" d-flex">
            <div>
                <img src="./../assets/refund.png" alt="">
            </div>
            <div>
                <h5>Refundable </h5>
                <span class="box-width text-secondary">If your items have damage we agree to refund it</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" d-flex">
            <div >
                <img src="../../assets/truck.png" alt="">
            </div>
            <div >
                <h5>Free delivery</h5>
                <span class="box-width text-secondary">Do purchase over $50 and get free delivery anywhere</span>
            </div>
        </div>
    </div>
</footer>
