
<hr class="container">

    <div class=" container mt-5 mb-5 d-flex company">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.png" alt="Bootstrap" width="39" height="39" />
            <img src="../../assets/Frame 1.png" alt="Bootstrap" width="196" height="44" />
        </a>
        <div>
            <i class="fa fa-phone green-color"></i>Call Us: 1233-777
        </div>
        <div>
            <i class="fa-regular fa-envelope green-color"></i>Email: groceryish@contact.com
        </div>
        <div>
            <i class="fa-sharp fa-solid fa-location-dot green-color "></i>Address: 1762 School House Road
        </div>
    </div>

<hr class="container">    
<footer class="footer-2 container">
    <span>&copy; 2023, All Rights Reserved</span>
    <span><i class="fa-brands fa-facebook footer-logo green-color"></i>
          <i class="fa-brands fa-linkedin footer-logo green-color"></i> 
          <i class="fa-brands fa-instagram footer-logo green-color"></i> 
          <i class="fa-brands fa-twitter footer-logo green-color"></i></span>
</footer>